$default-text-color: #333;
$default-font: "Fira Code", monospace;

$primary: #ff9800;
$primary-dark: #EF6C00;
$secondary: #333;

$global-link-color: $primary;
$global-link-hover-color: $primary-dark;
$global-primary-background: $primary;
$button-primary-color: $default-text-color;
$global-secondary-background: $secondary;

$header-height: 50px;